.detail-content {
  width: 50%;
  margin: 10px;
}

.detail-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.detail-status {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 20px;
}

.detail-stats {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 20px;
}

/* update form */

.detail-update {
  width: 50%;
  margin: 10px;
}

#update-review {
  width: 300px;
  height: 300px;
}

#test-button {
  height: 200px;
  width: 200px;
}

.detail-update {
  display: none;
}
