/* Main content information */

.main-content {
  width: 80%;
}

.bookcard {
  /* display: flex; */
  width: 100%;
  border: 1px grey solid;
  border-radius: 5px;
  margin: 20px 5px;
}

.bookcard-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px grey solid;
}

.bookcard-text {
  padding: 0.5rem;
  border-bottom: 1px grey solid;
}

.bookcard-footer {
  font-size: 13px;

  display: flex;
  width: 100%;

  justify-content: space-between;
  padding: 0.5rem;
  box-sizing: border-box;
}
