/* general formatting and page setup */

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

button {
  height: 150%;
}

container {
  padding-top: 0.5rem;
  flex: auto;
  position: relative;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}

/* h2 is for the card titles */

h2 {
  font-size: 20px;
  font-weight: bold;
}

/* h3 is for authors */
h3 {
  font-size: 18px;
}

/* Header information and set-up */

header {
  flex: none;
  display: flex;
  height: 75px;
  background-color: lightblue;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.2rem;
}

.header-right {
  display: flex;
  justify-content: space-around;
}

.header-dropdown {
  height: 100%;
  margin: 0 25px;
  padding: 0 25px;
  background-color: pink;
  display: flex;
  align-items: center;
}

.header-search {
  height: 100%;
  display: flex;
  align-items: center;
}

.header-form {
  height: 100%;
  display: flex;
  align-items: center;
}

#header-button {
  height: 40px;
  margin: 0 10px;
}

.header-searchbar {
  height: 38px;
  width: 250px;
}

.header-right {
  height: 100%;
  display: flex;
  align-items: center;
}

.header-login {
  height: 100%;
  margin: 0 25px;
  padding: 0 25px;
  background-color: pink;
  display: flex;
  align-items: center;
}

/* Main content information */

.main-content {
  width: 80%;
}

.bookcard {
  /* display: flex; */
  width: 100%;
  border: 1px grey solid;
  border-radius: 5px;
  margin: 20px 5px;
}

.bookcard-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px grey solid;
}

.bookcard-text {
  padding: 0.5rem;
  border-bottom: 1px grey solid;
}

.bookcard-footer {
  font-size: 13px;

  display: flex;
  width: 100%;

  justify-content: space-between;
  padding: 0.5rem;
  box-sizing: border-box;
}
