.new-wrapper {
  width: 80%;
  margin: 10px;
}

#new-review {
  width: 80%;
  height: 200px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.detail-update {
  display: none;
}

.new-label-block {
  display: block;
}

.new-field-full {
  width: 80%;
  margin-left: 10px;
  margin-bottom: 10px;
}

.new-field-short {
  width: 30%;
  margin-left: 10px;
  margin-bottom: 10px;
}
