<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Book Deets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="/assets/css/reset.css"
      media="screen"
      title="no title"
    />
    <link
      rel="stylesheet"
      href="/assets/css/header.css"
      media="screen"
      title="no title"
    />
    <link
      rel="stylesheet"
      href="/assets/css/bookdetails.css"
      media="screen"
      title="no title"
    />
    <!-- <script src="main.js"></script> -->
  </head>

  <body>
    <header>
      <div class="header-dropdown">
        <p class="header-drop-button">Go to...</p>
        <div class="header-drop-content">
          <a href="books">Book List</a>
          <a href="newbook">Add Book</a>
        </div>
      </div>
      <div class="header-right">
        <div class="header-search">
          <form class="header-form">
            <input type="text" class="header-searchbar" />
            <button id="header-button">Search</button>
          </form>
        </div>
        <div class="header-login"><p>Login</p></div>
      </div>
    </header>

    <section>
      <div class="detail-content">
        <div class="detail-header">
          <h1 id="jq-detail-title"></h1>

          <h2>by <span id="jq-detail-author"></span></h2>
        </div>
        <div class="detail-status">
          <h6>Status: <span id="jq-detail-status"></span></h6>
          <h6>Current Rating: <span id="jq-detail-rating"></span>/5</h6>
        </div>
        <div class="detail-review">
          <p id="jq-detail-review"></p>
        </div>
        <div class="detail-stats">
          <h6>
            Pages: <span id="jq-detail-pages-read"></span> out of
            <span id="jq-detail-pages"></span>
          </h6>
          <h6>Date updated: <span id="jq-detail-update-date"></span></h6>
        </div>
        <button id="test-button">Toggle Update Form</button>
      </div>
      <div class="detail-update">
        <form id="update-form">
          <div>
            Title:
            <input type="text" placeholder="Title" id="update-title" required />
          </div>
          <div>
            Author:
            <input
              type="text"
              placeholder="Author"
              id="update-author"
              required
            />
          </div>
          <div>
            Status:
            <select name="book-status" id="update-status" required>
              <option value="to read">To Read</option>
              <option value="reading">Reading</option>
              <option value="finished">Finished</option>
              <option value="dnf">DNF</option>
            </select>
            Rating:
            <select name="book-rating" id="update-rating" required>
              <option value="5">5</option>
              <option value="4">4</option>
              <option value="3">3</option>
              <option value="2">2</option>
              <option value="1">1</option>
            </select>
          </div>
          <div>
            Review:
            <textarea
              placeholder="Review"
              id="update-review"
              required
            ></textarea>
          </div>
          <div>
            Pages:
            <input type="number" placeholder="100" id="update-pages" required />
            Pages read:
            <input
              type="number"
              placeholder="0"
              id="update-pages-read"
              required
            />
          </div>
          <input
            type="submit"
            value="Update Info"
            id="update-button"
            required
          />
        </form>
      </div>
    </section>
    <footer></footer>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"
  ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.js"></script>

  <script src="/assets/js/bookdetails.js"></script>
</html>
