<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Book Deets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="/assets/css/reset.css"
      media="screen"
      title="no title"
    />
    <link
      rel="stylesheet"
      href="/assets/css/header.css"
      media="screen"
      title="no title"
    />
    <link
      rel="stylesheet"
      href="/assets/css/bookdetails.css"
      media="screen"
      title="no title"
    />
    <!-- <script src="main.js"></script> -->
  </head>

  <body>
    <header>
      <div class="header-dropdown"><p>Go To...</p></div>
      <div class="header-right">
        <div class="header-search">
          <form class="header-form">
            <input type="text" class="header-searchbar" />
            <button id="header-button">Search</button>
          </form>
        </div>
        <div class="header-login"><p>Login</p></div>
      </div>
    </header>

    <section>
      <div class="detail-content">
        <div class="detail-header">
          <h1>Annihilation</h1>

          <h2>by Jeff VanderMeer</h2>
        </div>
        <div class="detail-status">
          <h6>Status: finished | Current Rating: 5/5</h6>
        </div>
        <div class="detail-review">
          <p>
            I really loved this -- both the perspective of the girl and the
            responses from the woman. I rarely enjoy when authors put themselves
            into their books, but this was an exception.
          </p>
        </div>
      </div>
    </section>
    <footer></footer>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"
  ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.js"></script>

  <script src="/assets/js/books.js"></script>
</html>
