<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Books</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="/assets/css/reset.css"
      media="screen"
      title="no title"
    />
    <link
      rel="stylesheet"
      href="/assets/css/books.css"
      media="screen"
      title="no title"
    />
    <!-- <script src="main.js"></script> -->
  </head>

  <body>
    <header>
      <div class="header-dropdown"><p>Go To...</p></div>
      <div class="header-right">
        <div class="header-search">
          <form class="header-form">
            <input type="text" class="header-searchbar" />
            <button id="header-button">Search</button>
          </form>
        </div>
        <div class="header-login"><p>Login</p></div>
      </div>
    </header>

    <container>
      <div class="main-content">
        <div class="bookcard">
          <div class="bookcard-header">
            <div class="bookcard-title"><h2>Book Title</h2></div>
            <div class="bookcard-info"><h3>Book Author</h3></div>
          </div>
          <div class="bookcard-text">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic eum
              dolore voluptas tempora sint placeat rem, praesentium dicta
              tempore totam ex minus ipsum doloribus? Fugit similique dicta
              porro magni debitis! Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Nostrum mollitia ipsa magnam eveniet distinctio
              praesentium omnis aspernatur inventore recusandae tempora deleniti
              adipisci quam hic, ea corrupti maiores aut, a quibusdam?
            </p>
          </div>
          <div class="bookcard-footer">
            <p>pages read: 17 out of 234</p>
            <p>Date updated: 1/21/2019</p>
            <p>current rating: 4/5</p>
          </div>
        </div>

        <div class="bookcard">
          <div class="bookcard-header">
            <div class="bookcard-title"><h2>Book Title</h2></div>
            <div class="bookcard-info"><h3>Book Author</h3></div>
          </div>
          <div class="bookcard-text">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic eum
              dolore voluptas tempora sint placeat rem, praesentium dicta
              tempore totam ex minus ipsum doloribus? Fugit similique dicta
              porro magni debitis! Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Nostrum mollitia ipsa magnam eveniet distinctio
              praesentium omnis aspernatur inventore recusandae tempora deleniti
              adipisci quam hic, ea corrupti maiores aut, a quibusdam?
            </p>
          </div>
          <div class="bookcard-footer">
            <p>pages read: 17 out of 234</p>
            <p>status: finished</p>
            <p>Date updated: 1/21/2019</p>
            <p>current rating: 4/5</p>
          </div>
        </div>
      </div>
    </container>
    <footer></footer>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"
  ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.js"></script>

  <script src="/assets/js/books.js"></script>
</html>
