<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Add A Book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="/assets/css/reset.css"
      media="screen"
      title="no title"
    />
    <link
      rel="stylesheet"
      href="/assets/css/header.css"
      media="screen"
      title="no title"
    />
    <link
      rel="stylesheet"
      href="/assets/css/newbook.css"
      media="screen"
      title="no title"
    />
    <!-- <script src="main.js"></script> -->
  </head>

  <body>
    <header>
      <div class="header-dropdown">
        <p class="header-drop-button">Go to...</p>
        <div class="header-drop-content">
          <a href="./books">Book List</a>
          <a href="./newbook">Add Book</a>
        </div>
      </div>
      <div class="header-right">
        <div class="header-login"><p>Login</p></div>
      </div>
    </header>

    <section>
      <div class="new-wrapper">
        <form id="new-form">
          <div>
            <label for="new-title" class="new-label-block"> Title:</label>
            <input
              type="text"
              placeholder="Title"
              id="new-title"
              class="new-field-full"
              required
            />
          </div>
          <div>
            <label for="new-author" class="new-label-block"> Author:</label>
            <input
              type="text"
              placeholder="Author"
              id="new-author"
              class="new-field-full"
              required
            />
          </div>
          <div>
            <label for="new-status" class="new-label-block"> Status:</label>
            <select
              name="book-status"
              id="new-status"
              class="new-field-short"
              required
            >
              <option value="to read">To Read</option>
              <option value="reading">Reading</option>
              <option value="finished">Finished</option>
              <option value="dnf">DNF</option>
            </select>
            <label for="new-rating" class="new-label-block"> Rating:</label>
            <select
              name="book-rating"
              id="new-rating"
              class="new-field-short"
              required
            >
              <option value="5">5</option>
              <option value="4">4</option>
              <option value="3">3</option>
              <option value="2">2</option>
              <option value="1">1</option>
            </select>
          </div>
          <div>
            <label for="new-review" class="new-label-block">Review:</label>
            <textarea placeholder="Review" id="new-review" required></textarea>
          </div>
          <div>
            <label for="new-pages" class="new-label-block"> Pages:</label>
            <input
              type="number"
              placeholder="100"
              id="new-pages"
              class="new-field-short"
              required
            />
            <label for="new-pages-read" class="new-label-block">
              Pages read:</label
            >
            <input
              type="number"
              placeholder="0"
              id="new-pages-read"
              class="new-field-short"
              required
            />
          </div>
          <input type="submit" value="Add Book" id="new-button" required />
        </form>
      </div>
    </section>
    <footer></footer>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"
  ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.js"></script>

  <script src="/assets/js/newbook.js"></script>
</html>
